* {
    font-family: verdana, sans-serif;
    font-size: 12px;
    letter-spacing: .2em;
    color: #919191;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}
html {
  background: url(images/background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
    text-align: center;
    margin: 0 auto;
}
/* INTRO PAGE */

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}
.intro {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -54%);
}
.intro iframe {
    opacity: 0;
    animation-name: fadeIn;
    animation-delay: 1s;
    animation-duration: 6s;
    animation-fill-mode: forwards;
}
.intro p {
    margin: 0;
}
.intro a {
    color: blue;
    font-size: 12px;
    font-style: italic;
    text-decoration: none;
    letter-spacing: .5em;
    opacity: 0;
    animation-name: fadeIn;
    animation-delay: 3s;
    animation-duration: 6s;
    animation-fill-mode: forwards;
}

/* HEADER & NAVIGATION */

header {
    width: 100%;
    padding: 0;
    margin: 0 auto;
}
header h1 {
    margin: 0;
    font-size: 50px;
    text-indent: -10000px;
    background: url(images/logo.png) no-repeat center;
    background-size: contain;
}
h3 {
    color: white;
    font-size: 15px;
    letter-spacing: .5em;
    font-family: verdana, sans-serif;
    font-weight: normal;
    font-style: italic;
    text-shadow: 1px 1px 2px #32ffd5, 1px 2px 3px #919191;
    margin: 0 auto 20px;
}
nav ul {
  margin: 10px auto;
  padding: 0;
    
}
nav ul li {
	list-style-type: none;
    float: left;
    height: 16px;
    width: 18%;
    margin: 0 1%;
    padding: 0px;
    background-color: white;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .2);
}
nav ul li a {
    display: block;
    font-family: verdana, sans-serif;
    font-size: 10px;
    letter-spacing: .2em;
    padding: 2px 0 3px 0;
    text-decoration: none;
    text-transform: uppercase;
}
nav ul li:hover {
    background: #919191;
}
nav ul li a:hover {
    color:white;
}
nav ul:after {
  content: "";
  display: block;
  clear: both;
}

/* CONTENT */

main {
    width: 96%;
    max-width: 960px;
    margin: 0 auto;
    padding: 5px 5px 15px 5px;
    background: rgba(255, 255, 255, 0.6);
}
h2 {
    font-family: helvetica, verdana, sans-serif;
    color: #32ffd5;
    font-style: italic;
    letter-spacing: .5em;
    text-shadow: 1px 1px 1px lightgray;
    font-size: 14px;
    text-transform: uppercase;
    margin: 5px auto;
    background: rgba(255, 255, 255, 0.6);
    width: 100%;
    padding: 5px 0;
}
h4 {
    font-family: helvetica, verdana, sans-serif;
    color: lightgray;
    font-style: italic;
    letter-spacing: .5em;
    text-shadow: 1px 1px 2px #32ffd5;
    font-size: 14px;
    text-transform: uppercase;
    margin: 5px auto;
    background: rgba(255, 255, 255, 0.6);
    width: 100%;
    padding: 2px 0;
}
.statement {
    padding: 0px 5px 10px 5px;
}
.back a {
    color: blue;
    text-decoration: none;
    font-style: italic;
    letter-spacing: .5em;
}

/* PHOTOS */

.photoslist {
    width: 100%;
}
.photoslist ul {
    margin: 10px auto 0;
    padding: 0;
}
.photoslist ul li {
    display: inline-block;
    width: 28%;
    vertical-align: top;
    list-style-type: none;
    margin: 0 auto;
    padding: 1.5% 2%;
}
.caption {
    text-align: right;
    margin-top: 20px;
}
.photoslist ul li img {
    width: 100%;
    opacity: .8;
    transition: .3s ease-in;
}
.photoslist ul li img:hover {
    opacity: 1;
}
.imggallery, #cine {
    width: 100%;
    margin-top: 10px;
}
#natural, #ep {
    margin-top: 20px;
}
.imggallery p {
    padding-bottom: 2px; 
}
.imggallery ul, #natural ul, #ep ul, #cine ul {
    min-width: 360px;
    padding: 0;
    margin: 0 auto;
}
.imggallery ul li, #natural ul li, #ep ul li {
    width: 24%;
    display: inline-block;
    list-style-type: none;
    vertical-align: top;
}
.imggallery img, #cine img, #natural img, #ep img {
    width: 100%;
    opacity: .8;
    transition: .3s ease-in;
}
.imggallery img:hover, #cine img:hover, #natural img:hover, #ep img:hover {
    opacity: 1;
}
#cine li {
    width: 49%;
    display: inline-block;
}
#ep li:last-of-type {
    width: 100%;
    padding: 0;
}
#ep li:last-of-type img {
    width: 70%;
}

/* WORKS */

#tluvideo, #lsccvideo, #flowersbanner {
    background-color: black;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 6px;
}
#lsccvideo, #flowersbanner {
    height: 350px;
}
.tlutext {
    text-align: left;
    display: inline;
    width: 25%;
}
.tlutext h2 {
    width: 100%;
    margin: 0 auto;
    display: inline-block;
}
.tlutext p {
    margin-right: 15px;
}
.tluflyer {
    float: left;
    position: relative;
    display: inline-block;
    width: 40%;
    margin-top: 7px;
    margin-right: 15px;
    margin-bottom: 10px;
    z-index: 1;
}
.tluflyer img {
    width: 100%;
}
.tlugallery {
    text-align: center;
    transform: translateX(-5px);
}
.lsccgallery img, .tlugallery img, .flowersgallery img {
    margin: 0 auto;
    width: 17%;
    padding: 0 .5% .5%;
    opacity: .8;
    transition: .3s ease-in;
}
.lsccgallery img:hover, .tlugallery img:hover, .flowersgallery img:hover {
    opacity: 1;
}
.tlutext:after {
  content: "";
  display: block;
  clear: both;
}

/* CONTACT */

#kimpic {
    width: 100%;
}
#kimpic img {
    width: 100%;
}
#contact-form {
    padding: 5px;
    text-align: left;
}
label {
    line-height: 30px;
    font-family: verdana, sans-serif;
    font-size: 12px;
    letter-spacing: .2em;
}
input[type=text], input[type=email], textarea {
    width: 98%;
    border: none;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.8);
    color: black;
    font-family: verdana, sans-serif;
    font-size: 12px;
    letter-spacing: .3em;
    font-style: italic;
    padding: 1%;
}
::placeholder {
    color: red;
    opacity: .5;
    padding: 3px 5px;
    font-size: 11px;
}
textarea {
    resize: none;
}
input[type="submit"] {
    width: 80px;
    margin: 18px auto;
    padding: 7px;
    border: none;
    border-radius: 12px;
    font-family: verdana, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: .2em;
    box-shadow: 4px 4px 12px #32ffd5;
}
input[type="submit"]:active {
    background: white;
    transform: translate(1px, 1px);
}

/* FOOTER */

footer {
    width: 96%;
    max-width: 970px;
    margin: 10px auto 0;
    padding: 10px 0 0;
    border-top: 1px solid white;
}
/*.footertext {
    color: white;
    font-family: times, serif;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    letter-spacing: .2em;
    text-shadow: 1px 1px 1px #919191;
}*/
.copyright {
    display: block;
    padding-bottom: 5px;
    line-height: 8px;
}
footer img {
    display: block;
    height: 90px;
    margin: 10px auto;
}

/* KEYFRAMES */

@keyframes fadeIn {
    0% {
    opacity: 0;
    }
    100% {
    opacity: 1;
    }
}

/*MEDIA QUERIES*/

@media screen and (max-width: 735px) {
    .caption h2 {
        font-size: 10px;
}
}

@media screen and (max-width: 550px) {
#logo {
    background-size: 100%;
    font-size: 40px;
    }
header h3 {
    margin: 0 0 8px;
    font-size: 13px;
}
.tlugallery {
    transform: translateX(0);
}
}

@media screen and (max-width: 480px) {
    html {
        background: url(images/background_mobile.png) repeat top center fixed; 
        background-size: 115%;
    }
    .intro {
    transform: translate(-50%, -58%);
    }
    #logo {
        background-size: 100%;
        font-size: 40px;
    }
    header h3 {
        margin: 5px 0 10px;
        font-size: 11px;
        letter-spacing: .6em;
    }
    nav ul li {
        float: none;
        width: 90%;
        margin: 5px auto 10px;
    }
    #burger {
        width: 100%;
        height: 25px;
        background: url(images/burger.png) no-repeat center center;
        background-size: 25px;
    }
    nav ul {
        margin: 8px auto 5px;
        overflow: hidden;
        transition: height .6s ease-in;
        -webkit-transition: height .6s ease-in;
        -moz-transition: height .6s ease-in;
        -o-transition: height .6s ease-in;
        -ms-transition: height .6s ease-in;
        height: 0;
    }
    nav ul.open {
        height:130px;
    }
    main {
        min-height: 0;
    }
    .photoslist ul li {
        float: none;
        width: 90%;
        padding: 10px;
        margin-bottom: 5px;
        border-bottom: 1px solid #919191;
    }
    .photoslist ul li:last-child {
        border-bottom: none;
    }
    .caption {
        text-align: center;
    }
    .caption h2 {
        font-size: 14px;
    }
    .imggallery ul li {
        display: inline-block;
        width: 48%;
        padding: 0;
        margin:0;
    }
    .imggallery ul li img {
        width: 100%;
    }
    #natural, #ep {
        margin-top: 15px;
    }
    #natural ul li {
        display: inline-block;
        width: 31.25%;
        padding: 2px;
        margin: 0 auto;
    }
    #natural ul li img {
        width: 100%;
    }
    #ep li:last-of-type img {
        width: 100%;
    }
    .tlutext {
        text-align: center;
    }
    .tlutext p {
    margin-right: 0;
    }
    .tluflyer img {
        float: none;
        width: 100%;
    }
    .tlugallery {
        padding: 0;
        display: inline-block;
    }
    .tlugallery img, .lsccgallery img, .flowersgallery img {
        width: 30%;
    }
    #flowersvideo {
        width: 375px;
    }
    ::placeholder {
        font-size: 10px;
    }
    .statement {
        padding-bottom: 20px;
    }
    .copyright {
        font-size: 11px;
    }
}