* {
    font-family: times, serif;
    font-size: 12 px;
    letter-spacing: .07em;
    color: #919191;
}
html {
  background: url(images/background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
    text-align: center;
    margin: 0 auto;
}
/* INTRO PAGE */

.intro {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.intro p {
    padding: 0;
    margin: 0;
}
.line1 {
    opacity: 0;
    animation-name: fadeIn;
    animation-delay: 0s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
.line2 {
    opacity: 0;
    animation-name: fadeIn;
    animation-delay: 1s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
.line3 {
    opacity: 0;
    animation-name: fadeIn;
    animation-delay: 2s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
.intro a {
    font-size: 14px;
    font-style: italic;
    letter-spacing: .5em;
    opacity: 0;
    animation-name: fadeIn;
    animation-delay: 3s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

/* HEADER & NAVIGATION */

header {
    width: 100%;
    padding: 0;
    margin: 0 auto;
}
header h1 {
    margin: 0;
    font-size: 50px;
    text-indent: -10000px;
    background: url(images/logo.png) no-repeat center;
    background-size: contain;
}
h3 {
    color: white;
    font-size: 15px;
    letter-spacing: .5em;
    font-family: verdana, sans-serif;
    font-weight: 100;
    font-style: italic;
    text-shadow: 1px 1px 1px #32ffd5, 1px 2px 3px #919191;
    margin: 0 auto 20px;
}
nav ul {
  margin: 10px auto;
  padding: 0;
    
}
nav ul li {
	list-style-type: none;
    float: left;
    height: 16px;
    width: 18%;
    margin: 0 1%;
    padding: 0px;
    background-color: white;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .2);
}
nav ul li a {
    display: block;
    font-family: verdana, sans-serif;
    font-size: 10px;
    letter-spacing: .2em;
    padding: 2px 0 3px 0;
    text-decoration: none;
    text-transform: uppercase;
}
nav ul li:hover {
    background: #919191;
}
nav ul li a:hover {
    color:white;
}
nav ul:after {
  content: "";
  display: block;
  clear: both;
}

/* CONTENT */

main {
    width: 96%;
    max-width: 960px;
    margin: 0 auto;
    padding: 5px;
    background: rgba(255, 255, 255, 0.6);
}
h2 {
    font-family: helvetica;
    color: #32ffd5;
    font-style: italic;
    letter-spacing: .5em;
    text-shadow: 1px 1px 1px lightgray;
    font-size: 14px;
    text-transform: uppercase;
    margin: 5px auto;
    background: rgba(255, 255, 255, 0.6);
    width: 100%;
    padding: 5px 0;
}
main p {
    font-family: verdana, sans-serif;
    font-size: 12px;
    letter-spacing: .2em;
}
main a {
    color:blue;
    font-style: italic;
    font-size: 12px;
    font-family: verdana, sans-serif;
    letter-spacing: .2em;
    margin-bottom: 5px;
}
.statement {
    padding: 2px 5px 5px 5px;
}

/* PHOTOS */

.photos {
    width: 100%;
}
.photos ul {
    margin: 0 auto;
    padding: 0;
}
.photos ul li {
    display: inline-block;
    width: 25%;
    vertical-align: top;
    list-style-type: none;
    margin: 0 auto;
    padding: 3.5%;
}
.caption {
    text-align: right;
    margin-top: 20px;
}
.photos ul li img {
    width: 100%;
    opacity: .8;
    transition: .3s ease-in;
}
.photos ul li img:hover {
    opacity: 1;
}
.gallery, #polaroids {
    width: 100%;
    margin-top: 20px;
}
.gallery ul, #polaroids ul {
    min-width: 360px;
    padding: 0;
    margin: 0 auto;
}
.gallery ul li, , #polaroids ul li {
    width: 150px;
    list-style-type: none;
    display: inline-block;
    padding: 5px;
    margin: 5px;
}
.gallery img, polaroids img {
    width: 150px;
    opacity: .8;
    transition: .3s ease-in;
}
.gallery img:hover, #polaroids img:hover {
    opacity: 1;
}
#cine li {
    width: 40%;
}
#cine li img {
    width: 100%;
}
#ep li:last-of-type {
    width: 90%;
}
#ep li:last-of-type img {
    width: 55%;
}
#ep, #cine {
    margin-top: 25px;
}

/* WORKS */

#tluvideo, #lsccvideo, #flowersbanner {
    background-color: black;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 6px;
}
#lsccvideo, #flowersbanner {
    height: 300px;
}
.tlu {
    text-align: left;
    display: inline;
    width: 25%;
}
.tlu h2 {
    width: 100%;
    margin: 0 auto;
}
.tlu p {
    margin-right: 15px;
}
.tluflyer {
    float: left;
    position: relative;
    display: inline-block;
    width: 40%;
    margin-top: 10px;
    margin-right: 15px;
    margin-bottom: 10px;
    z-index: 1;
}
.tluflyer img {
    width: 100%;
}
.tlugallery {
    text-align: center;
    transform: translateX(-5px);
}
.lsccgallery img, .tlugallery img, .flowersgallery img {
    margin: 0 auto;
    width: 17%;
    padding: .5%;
    opacity: .8;
    transition: .3s ease-in;
    margin-bottom: 0;
}
.lsccgallery img:hover, .tlugaller img:hover, .flowersgallery img:hover {
    opacity: 1;
}
.tlu:after {
  content: "";
  display: block;
  clear: both;
}

/* CONTACT */

#contact-form {
    padding: 5px;
    text-align: left;
}
label {
    line-height: 30px;
    font-family: verdana, sans-serif;
    font-size: 12px;
    letter-spacing: .2em;
}
input[type=text], input[type=email], textarea {
    width: 100%;
    border: none;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.8);
    color: black;
    font-family: verdana, sans-serif;
    font-size: 12px;
    letter-spacing: .3em;
    font-style: italic;
    padding: 10px;
}
::placeholder {
    color: red;
    opacity: .5;
}
textarea {
    resize: none;
}
input[type="submit"] {
    width: 80px;
    margin-top: 18px;
    padding: 7px;
    border: none;
    border-radius: 12px;
    font-family: verdana, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: .2em;
    box-shadow: 4px 4px 12px #32ffd5;
}
input[type="submit"]:active {
    background: white;
    transform: translate(1px, 1px);
}

/* FOOTER */

footer {
    width: 96%;
    max-width: 960px;
    margin: 10 auto 0;
    padding: 10px 10px 0;
    border-top: 1px solid white;
}
/*.footer {
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    letter-spacing: .2em;
    text-shadow: 1px 1px 1px #919191;
}*/
.copyright {
    font-family: verdana, sans-serif;
    font-size: 12px;
    letter-spacing: .2em;
    line-height: 5px;
}
footer img {
    display:block;
    height: 90px;
    margin: 10px auto;
}

/* KEYFRAMES */

@keyframes fadeIn {
    0% {
    opacity: 0;
    }
    100% {
    opacity: 1;
    }
}

/*MEDIA QUERIES*/

@media screen and (max-width: 550px) {
#logo {
        background-size: 100%;
        font-size: 40px;
    }
header h3 {
        margin: 0 0 8px;
        font-size: 13px;
}
.tlugallery {
    transform: translateX(0);
}
}

@media screen and (max-width: 480px) {
    html {
        background: url(images/background_mobile.png) repeat top center fixed; 
        background-size: 115%;
    }
    #logo {
        background-size: 100%;
        font-size: 40px;
    }
    header h3 {
        margin: 0 0 8px;
        font-size: 11px;
        letter-spacing: .6em;
    }
    nav ul li {
        float: none;
        width: 90%;
        margin: 5px auto 10px;
    }
    #burger {
        width: 100%;
        height: 25px;
        background: url(images/burger.png) no-repeat center center;
        background-size: 25px;
    }
    nav ul {
        margin: 5px auto 5px;
        overflow: hidden;
        transition: height .6s ease-in;
        -webkit-transition: height .6s ease-in;
        -moz-transition: height .6s ease-in;
        -o-transition: height .6s ease-in;
        -ms-transition: height .6s ease-in;
        height: 0;
    }
    nav ul.open {
        height:130px;
    }
    main {
        min-height: 0;
    }
    .photos ul li {
        float: none;
        width: 80%;
        padding: 10px;
        margin-bottom: 5px;
        border-bottom: 1px solid #919191;
    }
    .photos ul li:last-child {
        border-bottom: none;
    }
    .caption {
        text-align: center;
    }
    .gallery ul li {
        width: 98%;
        padding: 0px;
        margin: 8px 0;
    }
    .gallery ul li img {
        width: 100%;
    }
    #polaroids ul li {
        width: 30%;
        display: inline;
    }
    #polaroids ul li img {
        width: 30%;
    }
    #ep li:last-of-type img {
        width: 100%;
    }
    .tlu {
        text-align: center;
    }
    .tluflyer img {
        float: none;
        width: 100%;
    }
    .tlugallery {
        padding: 0;
    }
    .tlugallery img, .lsccgallery img {
        width: 30%;
    }
    #flowersvideo {
        width: 375px;
    }
}